apikey='<your API key for testing here>'
instance_crn='<your us-south instance CRN for testing here>'
instance_rate_limit='<your instances rate limit. Default is 5>'
result_location='<your COS URL in us-south for test SQL results here>'
eu_instance_crn='<your EU instance CRN for testing here>'
eu_result_location='<your COS URL in EU for test SQL results here>'