### Egg info 
*.egg-info
*.egg
*.EGG
*.EGG-INFO

### Local Python env and test
ibmcloudsql/bin
ibmcloudsql/.Python
ibmcloudsql/lib
ibmcloudsql/include
ibmcloudsql/pip-selfcheck.json
ibmcloudsql/test.py
cloud_function/my_bind_as_python_function.sh
cloud_function/my_bind.sh
cloud_function/virtualenv

### Build and distribution
build/
dist/

### Compiled and backup files
__pycache__
*.pyc
*.pyo
*.tmp*
*.bak

