### Egg info 
*.egg-info
*.egg
*.EGG
*.EGG-INFO

### Local Python env and test
ibmcloudsql/bin
ibmcloudsql/.Python
ibmcloudsql/lib
ibmcloudsql/include
ibmcloudsql/pip-selfcheck.json
ibmcloudsql/test.py

### Build and distribution
build/
dist/

### Compiled and backup files
__pycache__
*.pyc
*.pyo
*.tmp*
*.bak

