[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=2.8.0,<=3.10.1"
pytest-cov = "*"

[packages]
ibm-cos-sdk-core = ">=2.0.0"
ibm-cos-sdk = ">=2.4.4"
numpy = "*"
pandas = "*"
pyarrow = "*"
requests = ">= 2.2.0"

[scripts]
ci = "pytest"
coverage = "pytest --cov=ibmcloudsql tests/"
